<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to the protected area!</h1>
<p>If you see this page, you have successfully authenticated. Here is a list of sites I protect. You may or may not have access to them :)</p>

<ul>
{{ range $protectpath, $containers := groupByMulti $ "Env.WWWHISPER_PROTECT" "," }}
<li><a href="/{{ $protectpath }}/">{{ $protectpath }}</li>
{{ end }}
</ul>

</body>
</html>
